{
  "name" : "foo",
  "patterns" : [ {
    "patternId" : "ClassNamesChecker",
    "level" : "Info",
    "category" : "CodeStyle",
    "parameters" : [ {
      "name" : "regex",
      "default" : "^[A-Z][A-Za-z0-9]*$"
    } ]
  }, {
    "patternId" : "Custom_Scala_ActiveNames",
    "category" : "ErrorProne",
    "level" : "Info"
  }, {
    "patternId" : "Custom_Scala_BadTagPresenceCheck",
    "category" : "CodeStyle",
    "level" : "Info",
    "parameters" : [ {
      "name" : "caseSensitive",
      "default" : false
    }, {
      "name" : "fixmeTags",
      "default" : [ "FixMe", "ToDo" ]
    } ]
  }, {
    "patternId" : "Custom_Scala_CallByNameAsLastArguments",
    "category" : "ErrorProne",
    "level" : "Warning"
  }, {
    "patternId" : "Custom_Scala_CollectionLastHead",
    "category" : "ErrorProne",
    "level" : "Warning"
  }, {
    "patternId" : "Custom_Scala_DefaultPatternMatching",
    "category" : "ErrorProne",
    "level" : "Warning"
  }, {
    "patternId" : "Custom_Scala_DirectPromiseCreation",
    "category" : "ErrorProne",
    "level" : "Info"
  }, {
    "patternId" : "Custom_Scala_ElseIf",
    "category" : "CodeStyle",
    "level" : "Info"
  }, {
    "patternId" : "Custom_Scala_EnforceMinimumVisibility",
    "category" : "CodeStyle",
    "level" : "Warning"
  }, {
    "patternId" : "Custom_Scala_ExplicitMutableNamespace",
    "category" : "ErrorProne",
    "level" : "Info"
  }, {
    "patternId" : "Custom_Scala_ExtendsError",
    "category" : "CodeStyle",
    "level" : "Info"
  }, {
    "patternId" : "Custom_Scala_FieldNamesChecker",
    "category" : "CodeStyle",
    "level" : "Info",
    "parameters" : [ {
      "name" : "regex",
      "default" : "^[a-z][A-Za-z0-9]*$"
    }, {
      "name" : "includeEnums",
      "default" : false
    }, {
      "name" : "allowConstants",
      "default" : true
    }, {
      "name" : "constantsRegex",
      "default" : "^[A-Za-z][A-Za-z0-9]*$"
    } ]
  }, {
    "patternId" : "Custom_Scala_GetCalls",
    "category" : "ErrorProne",
    "level" : "Warning"
  }, {
    "patternId" : "Custom_Scala_GetInMethodName",
    "category" : "ErrorProne",
    "level" : "Info"
  }, {
    "patternId" : "Custom_Scala_GroupImports",
    "category" : "CodeStyle",
    "level" : "Info"
  }, {
    "patternId" : "Custom_Scala_ImportsAtBeginningOfPackage",
    "category" : "CodeStyle",
    "level" : "Info"
  }, {
    "patternId" : "Custom_Scala_ImportsSortedAlphabetically",
    "category" : "CodeStyle",
    "level" : "Info",
    "parameters" : [ {
      "name" : "caseSensitive",
      "default" : false
    } ]
  }, {
    "patternId" : "Custom_Scala_IncompletePatternMatching",
    "category" : "ErrorProne",
    "level" : "Warning"
  }, {
    "patternId" : "Custom_Scala_IndexOfPositive",
    "category" : "ErrorProne",
    "level" : "Info"
  }, {
    "patternId" : "Custom_Scala_IndexOfStartPosition",
    "category" : "CodeStyle",
    "level" : "Info"
  }, {
    "patternId" : "Custom_Scala_IsDefined",
    "category" : "ErrorProne",
    "level" : "Warning"
  }, {
    "patternId" : "Custom_Scala_JavaThreads",
    "category" : "ErrorProne",
    "level" : "Info"
  }, {
    "patternId" : "Custom_Scala_LowerCasePatternMatching",
    "category" : "ErrorProne",
    "level" : "Warning"
  }, {
    "patternId" : "Custom_Scala_NameResultsAndParameters",
    "category" : "CodeStyle",
    "level" : "Warning"
  }, {
    "patternId" : "Custom_Scala_NonFatal",
    "category" : "CodeStyle",
    "level" : "Warning"
  }, {
    "patternId" : "Custom_Scala_NotUsingNonEmpty",
    "category" : "CodeStyle",
    "level" : "Warning"
  }, {
    "patternId" : "Custom_Scala_PatternMatchingInHigherOrderFunctions",
    "category" : "ErrorProne",
    "level" : "Info"
  }, {
    "patternId" : "Custom_Scala_PatternMatchingWhenDefaults",
    "category" : "ErrorProne",
    "level" : "Info"
  }, {
    "patternId" : "Custom_Scala_PreferImmutableCollections",
    "category" : "ErrorProne",
    "level" : "Info"
  }, {
    "patternId" : "Custom_Scala_ProhibitObjectName",
    "category" : "CodeStyle",
    "level" : "Warning"
  }, {
    "patternId" : "Custom_Scala_ReservedKeywords",
    "category" : "CodeStyle",
    "level" : "Warning",
    "parameters" : [ {
      "name" : "exclude",
      "default" : [ ]
    } ]
  }, {
    "patternId" : "Custom_Scala_ReturnFinally",
    "category" : "ErrorProne",
    "level" : "Warning"
  }, {
    "patternId" : "Custom_Scala_StructuralTypes",
    "category" : "ErrorProne",
    "level" : "Warning"
  }, {
    "patternId" : "Custom_Scala_TypeParameterName",
    "category" : "CodeStyle",
    "level" : "Warning",
    "parameters" : [ {
      "name" : "regex",
      "default" : "^[A-Z]$"
    } ]
  }, {
    "patternId" : "Custom_Scala_TypedEquality",
    "category" : "ErrorProne",
    "level" : "Error"
  }, {
    "patternId" : "Custom_Scala_UnusedPrivateVariables",
    "category" : "UnusedCode",
    "level" : "Warning"
  }, {
    "patternId" : "Custom_Scala_UsefulTypeAlias",
    "category" : "ErrorProne",
    "level" : "Warning"
  }, {
    "patternId" : "Custom_Scala_UselessComparison",
    "category" : "ErrorProne",
    "level" : "Error"
  }, {
    "patternId" : "Custom_Scala_UsingDateTimeNow",
    "category" : "ErrorProne",
    "level" : "Warning"
  }, {
    "patternId" : "Custom_Scala_UtilTryForTryCatch",
    "category" : "ErrorProne",
    "level" : "Info"
  }, {
    "patternId" : "Custom_Scala_WildcardImportOnMany",
    "category" : "CodeStyle",
    "level" : "Warning"
  }, {
    "patternId" : "Custom_Scala_WithNameCalls",
    "category" : "ErrorProne",
    "level" : "Warning"
  }, {
    "patternId" : "MethodNamesChecker",
    "level" : "Info",
    "category" : "CodeStyle",
    "parameters" : [ {
      "name" : "regex",
      "default" : "^([a-z][A-Za-z0-9]*|<<|>>>|>|==|!=|<|<=|>|>=|\\||&|\\^|\\+|-|\\*|\\/|%|\\|\\||&&|\\+\\+|--|\\+=|-=)$"
    } ]
  }, {
    "patternId" : "MultipleStringLiteralsChecker",
    "category" : "CodeStyle",
    "level" : "Info"
  }, {
    "patternId" : "ObjectNamesChecker",
    "level" : "Info",
    "category" : "CodeStyle",
    "parameters" : [ {
      "name" : "regex",
      "default" : "^[A-Z][A-Za-z0-9]*$"
    } ]
  } ]
}
