root = true

[*]
end_of_line = lf
charset = utf-8

[*.scala]
indent_size = 2
indent_style = space
insert_final_newline = true

[*.java]
indent_size = 2
indent_style = space
insert_final_newline = true

[*.xml]
indent_size = 2
indent_style = space
