.idea
*.iml
target
target-eclipse
.DS_Store
felix-cache
*.log
*.log
*.aux
*.backup
*~
*.pdf
.settings/
.cache
.cache-main
.cache-tests
.project
.classpath
libs/
.mvn/maven.settings
.mvn/maven.config
.polyglot.pom.scala
/pom.xml
