zinc-0.3.11/
zinc-0.3.11.tgz
target
target-eclipse
eclipse-target
.DS_Store
felix-cache
*.log
*.log
*.aux
*.backup
*~
*.pdf
.settings/
.cache
.cache-main
.cache-tests
.project
.classpath
libs/
.mvn/maven.settings
.mvn/maven.config
.polyglot.pom.scala
/pom.xml
.idea
*.iml
mvn.out
nohup.out
