<configuration scan="true" scanPeriod="30 seconds">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5level | %d{yyyy-MM-dd-HH:mm.ss.SSS} | %8.8r | %-30.30c{30} | %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="blended" level="info" />

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
