#foreach( $id in $bundleDetails.keySet() )

  #set ( $bundle = $bundleDetails.get($id) )
  #if ( $bundle.blueprintContainer )
  Bundle: $id
    #foreach ($cId in $bundle.blueprintContainer.componentIds )
      $cId
    #end
  #end

#end

