digraph packages {

#foreach( $id in $bundleDetails.keySet() )
  #set ( $bundle = $bundleDetails.get($id) )
  #set ( $color = "white" )
  #set ( $bgcolor = "black" )

  $id [ shape=none, margin=0, label=<

<table border="0" cellborder="1" cellspacing="0" cellpadding="4">
  <tr>
    <td ROWSPAN="2" bgcolor="$bgcolor"><font point-size="24" color="$color">$id</font></td>
    <td>$bundle.bundle.symbolicName</td>
  </tr>
  <tr>
    <td>$bundle.bundle.version</td>
  </tr>
  <tr>
    <td bgcolor="lightgrey">Exports</td>
    <td bgcolor="lightgrey">Used in</td>
  </tr>
  #foreach ( $exportPackage in $bundle.exportPackage )
    <tr>
      <td>$exportPackage.name</td>
      <td>#foreach ( $importer in $bundle.importers )$importer#if ( $foreach.hasNext ),#end#end</td>
    </tr>
  #end
</table>
>
]
#end

#foreach( $id in $bundleDetails.keySet() )
  #set ( $bundle = $bundleDetails.get($id) )
  #foreach ( $importer in $bundle.importers )
    $importer -> $id
  #end
#end
}
