<configuration scan="true" scanPeriod="30 seconds">

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>target/test.log</file>
    <encoder>
      <pattern>%-5level | %d{yyyy-MM-dd-HH:mm.ss.SSS} | %8.8r | %-30.30c{30} | %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE" />
  </appender>

  <logger name="blended" level="DEBUG" />

  <root level="DEBUG">
    <appender-ref ref="FILE" />
  </root>
</configuration>
