<configuration scan="true" scanPeriod="15 seconds">
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>log/blended.log</file>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%-5level | %d{yyyy-MM-dd-HH:mm.ss.SSS} | %8.8r | %-30.30c{30} | %msg%n</Pattern>
    </layout>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%-5level | %d{yyyy-MM-dd-HH:mm.ss.SSS} | %8.8r | %-30.30c{30} | %msg%n</Pattern>
    </layout>
  </appender>

  <logger name="blended.demo" level="debug" />
  <logger name="blended.launcher" level="debug" />
  <logger name="blended.mgmt" level="debug" />
  <logger name="blended.mgmt.agent" level="info" />
  <logger name="blended.security" level="debug" />
  <logger name="blended.spray" level="info" />

  <logger name="org.apache.shiro" level="debug" />

  <logger name="org.ops4j.pax.web" level="debug" />

  <root level="info">
    <appender-ref ref="FILE" />
  </root>
</configuration>