<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <description>${project.description}</description>
  <display-name>Blended Management Servlet</display-name>

  <servlet>
    <servlet-name>mgmt</servlet-name>
    <servlet-class>blended.mgmt.rest.internal.ManagementCollectorServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>

  <servlet-mapping>
    <servlet-name>mgmt</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>